snippet header ""header""
endsnippet

snippet guard ""guard""
endsnippet

snippet f ""f""
endsnippet

snippet t ""t""
endsnippet

snippet for ""for""
endsnippet

snippet wh ""wh""
endsnippet

snippet if ""if""
endsnippet

snippet ife ""ife""
endsnippet

snippet au ""au""
endsnippet

snippet bun ""bun""
endsnippet


